{% extends 'base.html.twig' %}

{% block body %}
<h1>Article</h1>
<p><b>Titre</b> : {{ article.titre }}</p>
<p><b>Auteur</b> : {{ article.auteur }}</p>
<p><b>Texte</b> : <br>{{ article.texte }}</p>
<div class="float-right">
        <button class="btn btn-success"><a href="{{ path('articles') }}" style="text-decoration: none; color:white"><i class="fa fa-angle-left"></i>&nbsp;Retour</a></button>
    </div><br>
{% endblock %}